<ul>
    <li><a href="/dashboard"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;DASHBOARD</a></li>
    <li><a href="/transactions"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;TRANSACTIONS</a></li>
    <li><a href="/deposit"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i>&nbsp;&nbsp;DEPOSIT FUNDS</a></li>
    <li><a href="/withdraw"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;&nbsp;WITHDRAW FUND</a></li>
    <li><a href="/investment"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;INVESTMENT</a></li>
    <li><a href="/affiliate"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;&nbsp;AFFILIATE</a></li>
    <li><a href="/editprofile"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;EDIT PROFILE</a></li>
    <li><a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;LOGOUT</a></li>
</ul>