<header class="header">
  <div class="header__bottom">
    <div class="container">
      <nav class="navbar navbar-expand-xl p-0 align-items-center">
        <a class="site-logo site-title" href="/"><img src="/assets/images/logo.png" alt="site-logo"></a>
        <ul class="account-menu mobile-acc-menu">
          <li class="icon">
            <a href="/editprofile"><i class="las la-user"></i></a>
          </li>
        </ul> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav main-menu m-auto">
            <li> <a href="/dashboard">Dashboard</a></li>
            <li> <a href="/transactions">Transactions</a></li>
            <li> <a href="/deposit">Deposit Funds</a></li>
            <li> <a href="/withdraw">Withdraw Funds</a></li>
            <li><a href="/investment">Invesment</a></li>
            <li><a href="/affiliate">Affiliate</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <div class="nav-right">
            <ul class="account-menu ml-3">
              <li class="icon">
                <a href="/editprofile"><i class="las la-user"></i></a>
              </li>
            </ul> 
            <select class="select d-inline-block w-auto ml-xl-3">
              <option>Eng</option>
              <option>Ban</option>
              <option>Hin</option>
            </select>
          </div>
        </div> 
      </nav>
    </div>
  </div><!-- header__bottom end -->
</header>