<div class="navbar-area navbar-area-2">
    <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
            <div class="navbar-inner">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a class="main-logo" href="/"><img src="assets/img/logo.png" width="150px" alt="img"></a>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <a class="search header-search" href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="themefie_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <!-- <li><a href="/rateus">RATEUS</a></li> -->
                                                    <li><a href="#0">SIGNUP</a></li>
                        <li><a href="indexc30b.html?a=login">LOGIN</a></li>
                                                    <li><a href="/contactus">CONTACT</a></li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                    <ul>
                        <li class="">
                            <ul class="social-area text-center">
                                <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a href="#0"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>