<div class="topbar-area topbar-area-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 align-self-center">
                <div id="google_translate_element"></div>
            </div>
            <div class="col-md-7 col-sm-10 align-self-center">
                <div class="topbar-content text-lg-right">
                    <span><i class="fa fa-map-marker-alt" aria-hidden="true"></i>Postfach 149 Agarone,  6597 Switzerland </span>
                    <span class="mr-0"><img src="/assets/img/icon/timer-p.png" alt="icon">Started    :        Aug 9, 2020</span>
                </div>
            </div>
            <div class="col-md-3 align-self-center d-none d-lg-block">
                <div class="topbar-content topbar-contact text-lg-right">
                    <span class="mr-0">Call Us - +Coming Soon</span>
                </div>
            </div>
        </div>
    </div>
</div>